<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119836223-1"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @System.Web.Optimization.Styles.Render("~/Content/bootstrapcss")
    @System.Web.Optimization.Styles.Render("~/Content/sitecss")

</head>
<body>
    <nav class="navbar navbar-expand-sm justify-content-center background-primary">
        <ul class="navbar-nav">
            <li class="nav-item">@Html.ActionLink("About", "About", null, new { @class = "btn btn-default btn-sm text-white"})</li>
            <li class="nav-item">@Html.ActionLink("Projects", "Projects", null, new { @class = "btn btn-default btn-sm text-white"})</li>
            <li class="nav-item">@Html.ActionLink("Resume", "Resume", null, new { @class = "btn btn-default btn-sm text-white"})</li>
            <li class="nav-item">@Html.ActionLink("Contact Info", "ContactInfo", null, new { @class = "btn btn-default btn-sm text-white"})</li>
        </ul>
    </nav>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="text-center font-small">
                &copy; David Devore. Created with ASP.Net MVC - 2018
                <a class="ml5" href="https://github.com/davdevor" target="_blank"><img src="~/Files/GitHub-Mark-32px.png" id="githubIcon" /></a>
                <a class="ml5" href="http://www.linkedin.com/in/david-devore-774236127" target="_blank"><img src="~/Files/In-Black-34px-R.png" id="linkedinIcon" /></a>
            </div>
        </footer>
    </div>
    @System.Web.Optimization.Scripts.Render("~/Scripts/jquery")
    @System.Web.Optimization.Scripts.Render("~/Scripts/bootstrapjs")
    @System.Web.Optimization.Scripts.Render("~/Scripts/sitescripts")
</body>
</html>